
# Stimpact telemetry
VITE_STIMPACT_BASE_URL=https://unifilar-ungenerating-thu.ngrok-free.dev
VITE_STIMPACT_PROJECT_ID=scaletest-scaleproject
VITE_STIMPACT_BROWSER_KEY=stimp_browser_UZ-QqCfSHzzMkVhjVuQFuyraiVaVZ2d0
STIMPACT_BROWSER_TOKEN_KEY=stimp_browser_C-YGDyBuRA658TYAgMYlK1MmrtsAqN9v
STIMPACT_BASE_URL=https://unifilar-ungenerating-thu.ngrok-free.dev
STIMPACT_PROJECT_ID=scaletest-scaleproject
